body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

div {
    font-size: 18px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.font-weight {
    font-weight:bold;
}

.css_table {
    display: table;
}

.css_tr {
    display: table-row;
}

.css_td {
    display: table-cell;
    text-justify: trim !important;
}
