body {
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

div {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 3px;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.font-weight {
    font-weight:bold;
}

.css_table {
    display: table;
}

.css_tr {
    display: table-row;
}

.css_td {
    display: table-cell;
    text-justify: trim !important;
}

footer {
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 3px;
    opacity: 1;
}

footer:hover {
    opacity: 1;
}

@media only screen and (max-width: 1139px) {
    footer {
        position: fixed;
        z-index: 200;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        color: white;
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 3px;
        opacity: 1;
    }
}

@media only screen and (max-width: 1023px) {
    footer {
        position: fixed;
        z-index: 200;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        color: white;
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 3px;
        opacity: 1;
    }
}

@media only screen and (max-width: 799px) {
    footer {
        position: fixed;
        z-index: 200;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: rgba(10,80,115,0.5);
        color: white;
        text-align: center;
        font-size: 2vw;
        line-height: 4vw;
        letter-spacing: 3px;
        opacity: 1;
    }
}
